---
import BaseHead from "../components/BaseHead.astro"
import Hero from "../components/Hero.astro"
import Content from "../layouts/Content.astro";
---
<!DOCTYPE html>
<html lang="es">
<head>
    <BaseHead title="SeventhArt" description="Blog" />
</head>
<body class="overflow-x-hidden">
    <Hero />
    <Content>
    </Content>
</body>
</html>