---
import BaseHead from "../components/BaseHead.astro"
import Hero from "../components/Hero.astro"
import Content from "../layouts/Content.astro";
import {supabase} from "../database"
import MainArticle from "../components/MainArticle.astro";
const {data} = await supabase.from("article").select("*,category(category_name)")
const mainArticle = data?.shift()
const articles = data
---
<!DOCTYPE html>
<html lang="es">
<head>
    <BaseHead title="SeventhArt" description="Blog" />
</head>
<body class="overflow-x-hidden">
    <Hero />
    <Content>
        <MainArticle  {...mainArticle} />
    </Content>
</body>
</html>