---
import BaseHead from "../components/BaseHead.astro"
import Hero from "../components/Hero.astro"
import Content from "../layouts/Content.astro";
import {supabase} from "../database"
import MainArticle from "../components/MainArticle.astro";
const {data} = await supabase.from("article").select("*,category(category_name)")
const mainArticle = data?.shift()
const articles = data
---
<!DOCTYPE html>
<html lang="es">
<head>
    <BaseHead title="SeventhArt" description="Descubre reseñas y noticias sobre tus peliculas y series favoritas. ¡Entra ahora!" keywords="Septimo Arte, peliculas, series, cine, blog de cine y series, blog de cine, mejores peliculas del año, reseñas y analisis, reseñas de peliculas, criticas"/>
</head>
<body class="overflow-x-hidden">
    <Hero />
    <Content>
        <MainArticle  {...mainArticle} />
    </Content>
</body>
</html>