<div class="bg-slate-800 flex w-screen text-white flex-col-reverse sm:flex-row lg:h-[calc(100vh-44px)]">
    <div class="flex-1 p-8 sm:p-16 lg:p-32 lg:justify-center gap-12 flex flex-col">
        <div class="flex-col flex gap-2 font-poppins">
            <h1 class="font-bold text-3xl lg:text-4xl">Explora el septimo arte</h1>
            <h2 class="font-medium text-base lg:text-lg">Descubre reseñas, noticias y curiosidades sobre tus películas favoritas</h2>
        </div>
        <button class="px-4 py-2 bg-orange-600 w-fit text-sm rounded">Leer las reseñas recientes</button>
    </div>
    <div class="basis-[45%] overflow-hidden">
        <img class="w-full h-full object-cover" src="/city.jpg"  alt="Handrawn movie scene of a bustling city"/>
    </div>
</div>