---
interface Props{
    image?:string,
    category?:string,
    slug?:string,
    created_at?:string | null,
    title?:string
}
const {image,category,slug,title} = Astro.props
---
<div class="flex flex-col w-screen h-screen relative before:absolute before:bg-gradient-to-b before:from-black/40 before:to-black before:top-0 before:left-0 before:right-0 before:bottom-0">
    <img src={image} alt={slug} class="rounded-b-sm w-full h-full object-cover"/>
    <div class="absolute z-10 top-0 right-0 left-0 bottom-0 flex items-center justify-center px-4">
        <h1 class="text-white font-bold text-2xl lg:text-4xl font-poppins [text-wrap:balance] text-center">{title}</h1>
    </div>
</div>