---
import NavBar from "../components/NavBar.astro";

---
<div class="relative">
    <NavBar />
    <div class="max-w-3xl mx-auto">
        <div class="p-8">
            <slot/>
        </div>
    </div>
</div>
